head
    meta(charset='UTF-8')
    title dummi
    link(rel='stylesheet', href='/assets/css/main.css')
    link(rel='icon', type='image/png', href='/assets/img/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1 user-scalable=no')
    meta(name='description', content='The smart way to generate random data for your projects.')
    meta(name='keywords', content='Random data generator, content, fake data, random, json, filler content, filler data, lorem ipsum')
    meta(name='author', content='Aaron Benjamin and Marc Mueller')
    
    //- Google Analytics
    script
      | function(a,b,c,d,e,f,g){a.GoogleAnalyticsObject=e,a[e]=a[e]||function(){(a[e].q=a[e].q||[]).push(arguments)},a[e].l=1*new Date,f=b.createElement(c),g=b.getElementsByTagName(c)[0],f.async=1,f.src=d,g.parentNode.insertBefore(f,g)}(window,document,"script","https://www.google-analytics.com/analytics.js","ga"),ga("create","UA-81716314-1","auto"),ga("send","pageview");
        
    //- HotJar
    script
      | function(a,b,c,d,e,f){a.hj=a.hj||function(){(a.hj.q=a.hj.q||[]).push(arguments)},a._hjSettings={hjid:261926,hjsv:5},e=b.getElementsByTagName("head")[0],f=b.createElement("script"),f.async=1,f.src=c+a._hjSettings.hjid+d+a._hjSettings.hjsv,e.appendChild(f)}(window,document,"//static.hotjar.com/c/hotjar-",".js?sv=");
